<div class="text-center">
  <h3><%= t('.title') %></h3>
  <p><%= t('.sub_title') %></p>
</div>
<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <%= f.submit t('helpers.submit.create'), class: 'btn btn-primary btn-block mb-3' %>
    <% end %>
    
    <p><%= link_to t('.login_page'), login_path %></p>
  </div>
</div>

<div>
  <P><%= link_to t('dictionary.words.back_toppage'), root_path %></P>
</div>