<div class="text-center jumbotron" style="background-color: #dee6b8 ">
  <h1><%= t('.welcome_message') %></h1>
  <p class="lead"><%= t('.introduction') %></p>
  <hr class="my-4">
  <div class="row mt-4">
    <div class="col-md-6">
      <p><%= t('.search_invitation') %></p>
      <%= link_to t('.search_page'), search_path, class: 'btn btn-lg btn-success' %>
    </div>
    <div class="col-md-6">
      <p><%= t('.signup_invitation') %></p>
      <%= link_to t('dictionary.words.signup'), signup_path, class: 'btn btn-lg btn-success' %>
    </div>
  </div>
</div>
