    <%= form_with(model: review, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group">
        <%= f.label :prefecture_id %>
        <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, { include_blank: t('helpers.select.prompt') }, { class: 'form-control' }  %>
      </div>
      <div class="form-group">
        <%= f.label :theater %>
        <%= f.text_field :theater, class: 'form-control', placeholder: t('.theater_placeholder') %>
      </div>
      <div class="form-group">
        <%= f.label :seat %>
        <%= f.text_field :seat, class: 'form-control', placeholder: t('.seat_placeholder') %>
      </div>
      <div class="form-group">
        <%= f.label :program %>
        <%= f.text_field :program, class: 'form-control', placeholder: t('.program_placeholder') %>
      </div>
      <div class="form-group">
        <%= f.label :content %>
        <%= f.text_area :content, class: 'form-control', placeholder: t('.content_placeholder') %>
      </div>
      <%= f.submit button_text, class: 'btn btn-primary btn-block' %>
    <% end %>