<div class="card">
  <h5 class="card-header">
    <%= t('.review_title_html', review_theater: @review.theater, review_seat: @review.seat) %>
  </h5>
  <div class="card-body media">
    <img class="rounded-circle  mr-3" src="<%= gravatar_url(@review.user, { size: 60 }) %>" alt="#">
    <div class="media-body">
      <div class="row mb-1">
        <div class="col-sm-8">
          <h5 class="card-title mb-1"><%= link_to @review.user.name, @review.user %><span><small><%= t('.card_title') %></small></span></h5>
          <small><%= t('.program', review_program: @review.program) %></small>
          <p class="mb-1">
            <small class="text-muted"><%= @review.created_at.to_s(:datetime_jp) %></small>
          </p>
        </div>
        <% if current_user %>
          <div class="col-sm-4 offset-lg-1 col-lg-3">
            <%= render 'favorites/like_button', review: @review %>
          </div>
        <% end %>
      </div>
      <hr class="my-0">
      <div class="card-text mt-1" style="word-break: break-all">
        <%= simple_format(@review.content) %>
      </div>
      <% if current_user == @review.user %>  
        <%= link_to t('helpers.submit.edit'), edit_review_path(@review), class: 'btn btn-success inline-block' %>
        <%= link_to t('helpers.submit.delete'), review_path, method: :delete, data: { confirm: t('.delete_confirm') }, class: 'btn btn-danger inline-block' %>
      <% end %> 
    </div>
  </div>
</div>

<div class="mt-2">
  <%= link_to t('.back_prefindex', name_pref: @review.prefecture.name) , @review.prefecture %>
</div>